#about {
  width: 400px;
  height: 100px;
  bottom: -120px;
  z-index: 1001;
  background-color: #FFFFFF;
  position: absolute;
  float: left;
  -webkit-transition: top 0.5s;
  transition: 1s;
  transition-timing-function:ease-in-out;
  border-radius:10px;
  padding: 10px;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

#about-button{
  position: absolute;
  float: left;
  z-index: 1010;
  height: 20px;
  left: 100px;
  bottom:0px;
  padding: 0px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  width: 65px;
}

a {
  text-decoration: none;
  color: black;
}

#chevron-about {
  float: left;
  position: absolute;
  margin-left: 5px;
  font-size: 17px;
}